<div class="block text-center">
    <div class="container">
        <div id="i_h_shoplist" load="true" template="true" app="shop" cmd="shoplist" class="">

        </div>
        <div class="row">
           <!-- <div class="pagination">
                <ul>
                    <li class="disabled"><a  href="javascript:;">首页</a></li>
                    <li class="active"><a href="javascript:;">1</a></li>
                    <li><a href="javascript:;">2</a></li>
                    <li><a href="javascript:;">3</a></li>
                    <li><a href="javascript:;">4</a></li>
                    <li><a href="javascript:;">5</a></li>
                    <li><a href="javascript:;">......</a></li>
                    <li><a href="javascript:;">共10页</a></li>
                </ul>
            </div>-->
            <div class="pagination" page="true" id="i_h_shoplist_page" ></div>
        </div>
    </div>
</div>
