
<div class="container">
    <div class="row">
        <p>HEADER</p>
        <ul class="breadcrumb">
            <li><a href="#">首页</a> <span class="divider">/</span></li>
            <li><a href="#">Library</a> <span class="divider">/</span></li>
            <li class="active">Data</li>
        </ul>
    </div>
    <div class="row">

            <div class="span2">
                <ul class="nav nav-list">
                    <li><a class="permissionDefine" href="javascript:;">权限管理</a></li>
                    <li><a class="menuDefine" href="javascript:;">菜单管理</a></li>
                    <li><a class="shopDefine" href="javascript:;">店铺管理</a></li>
                </ul>
            </div>

        <div class="span10">
            <div class="nav">
                <ul class="nav nav-tabs" id="myTab1">
                    <li class="active"><a href="#home">方法入口定义</a></li>
                    <li><a href="#profile">权限定义</a></li>
                    <li><a href="#messages">权限分配</a></li>
                </ul>

                <ul class="nav nav-tabs" id="myTab2" style="display: none">
                    <li class="active"><a href="#home2">方法入口定义2</a></li>
                    <li><a href="#profile2">权限定义2</a></li>
                    <li><a href="#messages2">权限分配2</a></li>
                </ul>

                <ul class="nav nav-tabs" id="myTab3" style="display: none">
                    <li class="active"><a href="#home3">方法入口定义3</a></li>
                    <li><a href="#profile3">权限定义3</a></li>
                    <li><a href="#messages3">权限分配3</a></li>
                </ul>

                <div class="tab-content">
                    <div class="tab-pane active" id="home">
                        home home
                    </div>
                    <div class="tab-pane" id="profile">profile profile</div>
                    <div class="tab-pane" id="messages">messages messages</div>
                    <div class="tab-pane" id="home2">
                        home home 2
                    </div>
                    <div class="tab-pane" id="profile2">profile profile2</div>
                    <div class="tab-pane" id="messages2">messages messages2</div>
                    <div class="tab-pane" id="home3">
                        home home3
                    </div>
                    <div class="tab-pane" id="profile3">profile profile3</div>
                    <div class="tab-pane" id="messages3">messages messages3</div>
                </div>
            </div>
        </div>
    </div>
</div>