
<div class="container">
    <div class="row">
        <p>HEADER</p>
        <ul class="breadcrumb">
            <li><a href="#">首页</a> <span class="divider">/</span></li>
            <li><a href="#">Library</a> <span class="divider">/</span></li>
            <li class="active">Data</li>
        </ul>
    </div>
    <div class="row">
            <div class="span2">
                <ul class="nav nav-list">
                    {#for i=1 to $T.list.length}
                        <li><a class="firstmenu" app="{$T.list[$T.i-1].app}" href="javascript:;">{$T.list[$T.i-1].name}</a></li>
                    {#/for}
                </ul>
            </div>

        <div class="span10">
            <div class="nav" id="navdiv" load="true" template="true" cmd="tag" app="backstage">
            </div>
        </div>
    </div>
</div>